.menubar {
  position: absolute;
  background-color: #272626;
  padding:3px ;
  width: 100%;
  display: flex;
}

.menubar span {
  display: inline-block;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-weight: 300;
  font-size: 2em;
  line-height: 60px;
}

#hambmenu {
  position: relative;
  width: 40px;
  height: 45px;
  float: left;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
#hambmenu span {
  position: absolute;
  height: 4px;
  width:90%;
  vertical-align: middle;
  margin: 13px 0 0 15px;
  background:#cdcdcd;
  border-radius: 4px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  padding: 0px;
}

.hambclicker {
  content: "";
  height: 48px;
  width: 55px;
  position: absolute;
  top: 8px;
  left: 8px;
  cursor: pointer;
  z-index: 9;
}

#hambmenu span:nth-child(1) {
  top: 0px;
  
}

#hambmenu span:nth-child(2), #hambmenu span:nth-child(3) {
  top: 10px;
}

#hambmenu span:nth-child(4) {
  top: 20px;
}

#hambmenu.isopen span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
  opacity: 0;
}

#hambmenu.isopen span:nth-child(2) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
          background-color: #d97308;
}

#hambmenu.isopen span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
          background-color: #d97308;
}

#hambmenu.isopen span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
  opacity: 0;
}

#menu {
  position: absolute;
  height: calc(50vh - 80px);
  width: 160px;
  margin-top: 50px;
  background-color: #ffffff;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: -webkit-transform 300ms;
  transition: -webkit-transform 300ms;
  transition: transform 300ms;
  transition: transform 300ms, -webkit-transform 300ms;
}
#menu ul {
  color: black;
  list-style-type: none;
  text-align: left;
}

#menu li {
  padding: 10px 0;
  font-size: 22px;
}

#menu li a:hover{
  color: #d97308;
}

#menu li:last-child {
  border-bottom: none;
}

.fa {
  color: black;
  padding-right: 8px;
}

li a {
  text-decoration: none;
  color: black;
}

#menu.isopen {
  -webkit-transform: none;
          transform: none;
}

.img {
  margin-left: 170px;
  width: 30px;
}

.logo-header {  
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.logo-header span {
  margin-top: 5px;
  font-size: 20px;
  color: #eeeeee;
}

@media screen and (max-width: 420px) {
  .menubar span {
    font-size: 1.2em;
  }
}
