.hall {
  background-color: #434242;
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
  padding: 30px;
}
.input {
  width: 95%;
  padding-left: 5%;
}
.img-hall {
  width: 150px;
}
.data {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.data-table {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.text {
  margin: 20px 5px 0 5px;
  font-size: 25px;
  color: #d97308;
}
.breack-fast,
.dinner {
  outline: none;
  width: 150px;
  height: 40px;
  margin: 0;
  border: none;
  border-radius: 5px 5px 0px 0px;
  font-size: 17px;
}
.breack-fast {
  color: #272626;
  background-color: #eeeeee;
}
.dinner {
  color: #eeeeee;
  background-color: #272626;
}
.buttons-menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.button-menu:hover {
  cursor: pointer;
}
.name-input {
  width: 95%;
}
.container-table {
  width: 100%;
}
.button {
  width: 100%;
}
.box-data {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.error {
  margin-top: 20px;
  color: #eeeeee;
  text-align: center;
}
.table {
  width: 100%;
}
@media only screen and (min-width: 1000px) {
  .table {
    display: flex;
    justify-content: space-around;
  }

  .container-table {
    width: 45%;
    min-width: 450px;
  }

  .data {
    width: 70%;
  }
  .table-total {
    margin: 0;
  }
  .container-table-total {
    width: 45%;
    display: flex;
    justify-content: right;
    flex-direction: column;
  }
  .table-total {
    min-width: 450px;
    width: 100%;
  }
  .button {
    width: 100%;
  }
}
@media only screen and (max-width: 400px) {
  .text {
    display: none;
  }
}
