.container-command {
  width: 280px;
  background: #434242;
  box-sizing: border-box;
  border-radius: 20px;
  margin: 15px;
  padding: 5px;
  display: flex;
  flex-direction: column;
}
.command {
  background-color: #eeeeee;
  margin: 10px;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 15px;
  flex-grow: 1;
}
.container-command li {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 12px;
}

.data-command {
  font-size: 18px;
  font-weight: 700;
  color: #eeeeee;
  margin-top: 10px;
  padding: 5px 20px;
  display: flex;
  justify-content: space-between;
}

.data-calendar {
  color: #eeeeee;
  padding: 0 20px;
  text-align: left;
  font-size: 15px;
  display: flex;
  flex-direction: column;
}
.data-calendar > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.result {
  display: flex;
  justify-content: flex-end;
  padding-top: 10px;
  border-top: solid 1px #434242;
}
.info-b {
  color: #434242;
  font-size: 13px;
}

.command-box {
  background-color: #272626;
}
.command-box > span,
.command-box > .data-calendar,
.command-box > .data-command {
  color: #eeeeee;
}
.note-command {
  background-color: #4342420c;
  border-radius: 5px;
  height: auto;
  margin-bottom: 20px;
  color: #434242;
  font-size: 13px;
}

.start {
  box-shadow: 3px 2px 2px red;
}

.progress {
  box-shadow: 3px 2px 2px #d97308;
}

.finished {
  box-shadow: 3px 2px 2px green;
}
.timer {
  width: 18px;
}
.time-mediun {
  color: #d97308;
}
.total {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
