.container-command {
  width: 280px;
  height: 250px;
  background: white;
  box-sizing: border-box;
  border-radius: 20px;
  margin: 20px;
}
.command  {
  background-color: rgb(218, 56, 34);
  margin: 10px;
  padding: 60px;
  border-radius: 10px;
}
.container-command li {
  display: flex;
  align-items: flex-start;
}

.data-command {
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
}

.data-calendar {
  display: flex;
  justify-content: space-around;
}