table {
  padding: 10px;
  width: 500px;
  border-radius: 5px 0 5px 5px;
}
.table-breackfast {
  background-color: #eeeeee;
  color: #272626;
}
.table-dinner {
  color: #eeeeee;
  background-color: #272626;
}
.table-total {
  margin-top: 20px;
  border-radius: 5px;
  color: #eeeeee;
  background-color: transparent;
  border: solid 2px #eeeeee;
}

th {
  color: #d97308;
}
td {
  padding: 4px;
}
.menu-type {
  width: 30%;
  color: #eeeeee;
  font-weight: 700;
}
.menu-value {
  width: 25%;
}
.menu-item {
  width: 25%;
}
.menu-button {
  width: 20%;
}
.resume {
  padding: 2px;
  height: 0.7px;
  border-bottom: 0.5px solid #eeeeee44;
}
.input-options {
  width: 100%;
  display: flex;
  /* align-items: center; */
  justify-content: space-around;
}
.options {
  width: 100%;
  background-color: #434242;
  border-radius: 5px;
}

.options > form {
  margin-top: 5px;
}
