table {
  padding: 10px;
  width: 500px;
  border-radius: 5px 0 5px 5px;
}
.table-breackfast {
  background-color: #eeeeee;
  color: #272626;
}
.table-dinner {
  color: #eeeeee;
  background-color: #272626;
}
.table-total {
  margin-top: 20px;
  border-radius: 5px;
  color: #eeeeee;
  background-color: transparent;
  border: solid 2px #eeeeee;
}

th {
  color: #d97308;
}
td {
  padding: 4px;
}
.menu-type {
  width: 35%;
  color: #eeeeee;
  font-weight: 700;
}
.menu-value {
  width: 15%;
}
.menu-item {
  width: 10%;
}
.menu-button {
  width: 20%;
}
.resume {
  padding: 2px;
  height: 0.7px;
  border-bottom: 0.5px solid #eeeeee44;
}
.input-options {
  margin: 10px;
  width: 130px;
  border: solid 1px #eeeeee;
  padding: 5px;
  border-radius: 5px;
  /* width: 400px; */
  /* height: 25px; */
  display: inline-flex;
  align-self: center;
  align-items: center;
  justify-content: center;
}
.option {
  display: flex;
  justify-content: space-around;
}
/* .button-options {
  border: solid;
  border-radius: 5px;
  height: auto;
  padding: 10px;
  margin: 5px;
} */
/* .del {
  display: flex;
  align-items: center;
  justify-content: space-around;
} */
.option-item {
  width: 20px;
}
