input,
button {
  border: solid 2px #eeeeee;
  color: #eeeeee;
  background-color: transparent;
  height: 50px;
  border-radius: 50px;
  width: 100%;
  margin-top: 20px;
}
input {
  padding-left: 5%;
  width: 95%;
}

button:hover {
  background-color: #d97308;
  border: #d97308;
}
