.input,
.button {
  outline: none;
  border: solid 2px #eeeeee;
  color: #eeeeee;
  background-color: transparent;
  height: 45px;
  border-radius: 50px;
  width: 100%;
  margin-top: 20px;
  transition: border 20ms;
}
.input {
  padding-left: 5%;
  width: 95%;
  outline: none;
}

.input:hover {
  border: solid 2px #d97308;
}
.input:focus {
  background-color: #363535;
  border: solid 2px #d97308;
}
.button:hover {
  cursor: pointer;
  background-color: #d97308;
  border: solid 2px #d97308;
}
.button-auth,
.input-auth {
  max-width: 370px;
  min-width: 237.5px;
}

.delete {
  width: 25px;
  border-radius: 5px;
}
.delete:hover {
  cursor: pointer;
  background-color: #d97308;
}
