.input,
.button {
  outline: none;
  border: solid 2px #eeeeee;
  color: #eeeeee;
  background-color: transparent;
  height: 45px;
  border-radius: 50px;
  width: 100%;
  margin-top: 20px;
  transition: border 20ms;
}
.input {
  padding-left: 5%;
  width: 95%;
  outline: none;
}

.input:hover {
  border: solid 2px #d97308;
}
.input:focus {
  background-color: #363535;
  border: solid 2px #d97308;
}
.button:hover {
  cursor: pointer;
  background-color: #d97308;
  border: solid 2px #d97308;
}
.button-auth,
.input-auth {
  max-width: 370px;
  min-width: 237.5px;
}

.delete {
  width: 25px;
  border-radius: 5px;
}
.delete:hover {
  cursor: pointer;
  background-color: #d97308;
}

.button-icon {
  width: 25px;
  border-radius: 5px;
}
.button-icon-div {
  background-color: transparent;
  margin: 3px;
  font-size: 10px;
  width: 35px;
  padding: 1px;
  height: 35px;
  border: solid 1px #eeeeee;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}
.button-icon-div:hover {
  border: 1px #d97308;
  cursor: pointer;
  background-color: #d97308;
}
.checked {
  background-color: #d97308;
  border: #d97308;
}
/* .no-checked {
  background-color: transparent;
} */
