.btn-kitchen{

}

.container{
  display: flex;
  align-items: center;
  padding: 30px;
}

.img-kitchen {
  margin-right: 150px;
  width: 150px;
}

.kitchen{
  display: flex;
  align-items: center;
}

