
.container{
  background-color: #eeeeee;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
  padding: 30px;
}

.img-kitchen {
  margin-right: 150px;
  width: 150px;
}

.kitchen{
  display: flex;
  align-items: center;
}

.request{
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

