.templateAuth {
  width: 80%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #eeeeee;
}

.img {
  width: 250px;
}
button {
  margin-bottom: 20px;
}
.link {
  color: #eeeeee;
}
.link:hover {
  color: #d97308;
}
