.templateAuth {
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #eeeeee;
}

.img-auth {
  margin-bottom: 5px;
  width: 200px;
}

.link {
  color: #eeeeee;
}

.link:hover {
  color: #d97308;
}

.sector {
  display: flex;
  align-items: flex-end;
  border-radius: 10px;
  /* margin: 15px 55px; */
  padding: 15px;
  color: #eeeeee;
}

.icon {
  width: 30px;
  height: 30px;
  margin-right: 5px;
}

.oi {
  display: flex;
}
