.container-delivery {
  width: 100%;
  background-color: #424343;
}
.img-kitchen {
  width: 150px;
}
.kitchen {
  /* width: 100%; */
  margin-top: 50px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.button-kitchen {
  width: 200px;
}
.request {
  padding-bottom: 30px;
}
